html, body {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body {
    margin: 0;
}

canvas {
    background: #eee;
    display:flex;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}

.game-controal-button {
    font-family: monospace;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    background-color:chartreuse;
    border: 2px solid black;
    border-radius: 4px;
}