canvas { 
    background: #eee;
    display:flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 10px;
}

.game-controal-button {
    font-family: monospace;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    background-color:chartreuse;
    border: 2px solid black;
    border-radius: 4px;
}